version: '3.0'

services:
  mongo:
    image: "mongo:3.6"
    container_name: myMongo
    ports:
     - "27017:27017"
  node:
    build: server
    ports:
      - "3000:3000"
    links:
      - mongo
  vue:
    build: .
    ports:
      - "8080:8080"